# Auto detect text files and perform LF normalization
* text=auto

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Pickle files
*.pkl

# CSV files (if you don't want to include recognition logs)
*.csv